<template>
  <div>
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
      <div class="border-top-1 border-300 text-center">
        <img class="mt-5" src="@/assets/logo.png" alt="logo" width="300">
        <ul class="list-none p-0 mx-0 my-5 flex justify-content-center flex-column align-items-center lg:flex-row">
          <li>
            <router-link to="/sport-centers" class="text-600 cursor-pointer line-height-3 lg:mr-5">Sportovní centra</router-link>
          </li>
          <li>
            <router-link to="/sign-up" class="text-600 cursor-pointer line-height-3 lg:mr-5">Registrace</router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AppFooter"
};
</script>

<style scoped>

</style>