<template>
  <div class="surface-overlay px-6 shadow-2 flex justify-content-between relative" style="min-height:84px">
    <img src="../assets/logo.png" alt="logo" class="mr-0 lg:mr-6 align-self-center w-12rem">
    <ul class="list-none p-0 m-0 flex select-none flex-column lg:flex-row">
      <li>
        <router-link to="/" class="no-underline flex px-6 h-full lf:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-primary-500 font-medium cursor-pointer transition-colors transition-duration-150 p-ripple">
          <i class="pi pi-home mr-2"></i>
          Domů
        </router-link>
      </li>
      <li>
        <router-link to="/sport-centers" class="no-underline flex px-6 h-full lf:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-primary-500 font-medium cursor-pointer transition-colors transition-duration-150 p-ripple">
          <i class="pi pi-map-marker mr-2"></i>
          Sportovní centra
        </router-link>
      </li>
    </ul>
    <ul class="list-none p-0 m-0 flex select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none align-items-center">
      <li v-if="loggedIn" class="border-top-1 surface-border lg:border-top-none mr-2">
        <router-link :to="profileUrl" class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 font-medium cursor-pointer p-ripple no-underline">
          <div class="block">
            <div class="text-900 font-medium">{{userName}}</div>
            <div class="text-600 font-medium text-sm text-right">
              <div v-if="userRole === 'ROLE_PLAYER'">Hráč</div>
              <div v-else>Majitel</div>
            </div>
          </div>
          <img :src="userProfileImage" alt="profile_picture" class="mr-3 ml-3 lg:mr-0 border-circle w-2rem h-2rem border-1 border-primary">
        </router-link>
      </li>
      <li v-if="!loggedIn" class="mr-1">
        <Button class="p-button-outlined" label="Přihlásit se" type="button" @click="login" />
      </li>
      <li v-if="!loggedIn">
        <Button class="p-button-outlined" label="Zaregistrovat se" type="button" @click="register" />
      </li>
      <li v-if="loggedIn">
        <Button class="p-button-outlined" label="Odhlásit se" type="button" @click="logout"/>
      </li>
    </ul>
  </div>
</template>

<script setup>
import { computed, watch } from 'vue';
import { useRouter } from 'vue-router';
import Button from 'primevue/button';
import {useAuthStore} from "@/store/auth";

// Inicializace routeru
const router = useRouter();
const authStore = useAuthStore(); // Create Pinia store instance

const loggedIn = computed(() => authStore.isAuthenticated);
const userName = computed(() => authStore.getUser?.username);
const userId = computed(() => authStore.getUser?.id);
const userRole = computed(() => authStore.getUser?.role);
const userProfileImage = require('@/assets/logo.png');
// Reaktivní proměnné

// const userRole = computed(() => store.getters['auth/getUser']?.role);


console.log('loggedIn:', loggedIn.value);
console.log('userId:', userId.value);
console.log('userName:', userName.value);

watch(loggedIn, (newVal) => {
  console.log('Logged In status changed:', newVal);
});

// Funkce pro přihlášení
const login = () => {
  router.push('/sign-in');
};

// Funkce pro registraci
const register = () => {
  router.push('/sign-up');
};

// Funkce pro odhlášení
const logout = () => {
  authStore.logoutUser().then(() => {
    router.push('/');
  }).catch(error => {
    console.error("Logout failed:", error);
  });
};

const profileUrl = computed(() => {
  // Vytvoření URL na základě role uživatele
  if (userId.value) {
    return userRole.value === 'ROLE_PLAYER' ? `/profile/player/${userId.value}` : `/profile/owner/${userId.value}`;
  } else {
    return '#'; // Výchozí hodnota, pokud není userId dostupné
  }
});

</script>

<style scoped>


</style>