<template>
  <div class="reservation-container">
    <Stepper linear>
      <StepperPanel header="Hřiště">
        <template #content="{ nextCallback }">
          <div v-if="fields && fields.length" class="px-4 py-5 md:px-6 lg:px-8">
            <div class="field-list">
              <div
                  v-for="field in fields"
                  :key="field.fieldId"
                  @click="selectField(field.fieldId)"
                  :class="['shadow-2 p-4 surface-card border-round flex flex-col', { 'selected-card': field.fieldId === selectedFieldId }]"
                  class="relative cursor-pointer"
              >
                <div class="flex justify-content-between mb3">
                  <div>
                    <span class="block text-900 font-medium text-xl text-primary mb-3">Fotbalové hřiště</span>
                    <div class="flex justify-content-between w-full">
                      <div class="text-500 font-medium mr-8">Rozměry: {{ field.width }} x {{ field.length }} m</div>
                      <div class="text-500 font-medium">Cena: {{ field.hourRate }} Kč / h</div>
                    </div>
                  </div>
                  <div v-if="field.fieldId === selectedFieldId"
                       class="flex align-items-center justify-content-center border-round">
                    <i class="pi pi-check-circle text-green-500 text-3xl"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <p>Žádná hřiště nejsou dostupná.</p>
          </div>
          <div class="flex justify-content-end w-full">
            <Button label="Dále" icon="pi pi-arrow-right" iconPos="right" @click="nextCallback"/>
          </div>
        </template>
      </StepperPanel>
      <StepperPanel header="Datum a čas">
        <template #content="{ prevCallback, nextCallback }">
          <div class="grid">
            <div class="col-6 flex justify-content-center align-items-center">
              <Calendar v-model="date" inline class="w-30rem"/>
            </div>
            <div class="col-6 flex justify-content-center align-items-center">
              <div class="col-3">
                <ToggleButton v-model="selectedTimes['00:00-01:00']" :disabled="isTimeBlocked('00:00-01:00')"
                              onLabel="00:00 - 01:00" offLabel="00:00 - 01:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['01:00-02:00']" :disabled="isTimeBlocked('01:00-02:00')"
                              onLabel="01:00 - 02:00" offLabel="01:00 - 02:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['02:00-03:00']" :disabled="isTimeBlocked('02:00-03:00')"
                              onLabel="02:00 - 03:00" offLabel="02:00 - 03:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['03:00-04:00']" :disabled="isTimeBlocked('03:00-04:00')"
                              onLabel="03:00 - 04:00" offLabel="03:00 - 04:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['04:00-05:00']" :disabled="isTimeBlocked('04:00-05:00')"
                              onLabel="04:00 - 05:00" offLabel="04:00 - 05:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['05:00-06:00']" :disabled="isTimeBlocked('05:00-06:00')"
                              onLabel="05:00 - 06:00" offLabel="05:00 - 06:00"
                              class="time-toggle"/>
              </div>
              <div class="col-3">
                <ToggleButton v-model="selectedTimes['06:00-07:00']" :disabled="isTimeBlocked('06:00-07:00')"
                              onLabel="06:00 - 07:00" offLabel="06:00 - 07:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['07:00-08:00']" :disabled="isTimeBlocked('07:00-08:00')"
                              onLabel="07:00 - 08:00" offLabel="07:00 - 08:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['08:00-09:00']" :disabled="isTimeBlocked('08:00-09:00')"
                              onLabel="08:00 - 09:00" offLabel="08:00 - 09:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['09:00-10:00']" :disabled="isTimeBlocked('09:00-10:00')"
                              onLabel="09:00 - 10:00" offLabel="09:00 - 10:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['10:00-11:00']" :disabled="isTimeBlocked('10:00-11:00')"
                              onLabel="10:00 - 11:00" offLabel="10:00 - 11:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['11:00-12:00']" :disabled="isTimeBlocked('11:00-12:00')"
                              onLabel="11:00 - 12:00" offLabel="11:00 - 12:00"
                              class="time-toggle"/>
              </div>
              <div class="col-3">
                <ToggleButton v-model="selectedTimes['12:00-13:00']" :disabled="isTimeBlocked('12:00-13:00')"
                              nLabel="12:00 - 13:00" offLabel="12:00 - 13:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['13:00-14:00']" :disabled="isTimeBlocked('13:00-14:00')"
                              onLabel="13:00 - 14:00" offLabel="13:00 - 14:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['14:00-15:00']" :disabled="isTimeBlocked('14:00-15:00')"
                              onLabel="14:00 - 15:00" offLabel="14:00 - 15:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['15:00-16:00']" :disabled="isTimeBlocked('15:00-16:00')"
                              onLabel="15:00 - 16:00" offLabel="15:00 - 16:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['16:00-17:00']" :disabled="isTimeBlocked('16:00-17:00')"
                              onLabel="16:00 - 17:00" offLabel="16:00 - 17:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['17:00-18:00']" :disabled="isTimeBlocked('17:00-18:00')"
                              onLabel="17:00 - 18:00" offLabel="17:00 - 18:00"
                              class="time-toggle"/>
              </div>
              <div class="col-3">
                <ToggleButton v-model="selectedTimes['18:00-19:00']" :disabled="isTimeBlocked('18:00-01:00')"
                              onLabel="18:00 - 19:00" offLabel="18:00 - 19:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['19:00-20:00']" :disabled="isTimeBlocked('19:00-20:00')"
                              onLabel="19:00 - 20:00" offLabel="19:00 - 20:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['20:00-21:00']" :disabled="isTimeBlocked('20:00-21:00')"
                              onLabel="20:00 - 21:00" offLabel="20:00 - 21:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['21:00-22:00']" :disabled="isTimeBlocked('21:00-22:00')"
                              onLabel="21:00 - 22:00" offLabel="21:00 - 22:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['22:00-23:00']" :disabled="isTimeBlocked('22:00-23:00')"
                              onLabel="22:00 - 23:00" offLabel="22:00 - 23:00"
                              class="time-toggle"/>
                <ToggleButton v-model="selectedTimes['23:00-24:00']" :disabled="isTimeBlocked('23:00-24:00')"
                              onLabel="23:00 - 24:00" offLabel="23:00 - 24:00"
                              class="time-toggle"/>
              </div>
            </div>
          </div>
          <div class="flex pt-4 justify-content-between">
            <Button label="Zpět" severity="secondary" icon="pi pi-arrow-left" @click="prevCallback"/>
            <Button label="Dále" icon="pi pi-arrow-right" iconPos="right" @click="nextCallback"/>
          </div>
        </template>
      </StepperPanel>
      <StepperPanel header="Shrnutí">
        <template #content="{ prevCallback }">
          <div>
            <div class="grid">
              <div v-if="date && selectedFieldId" class="col-8">
                <h4>Vybrané hřiště:</h4>
                <p>Fotbalové hřiště {{ fields.find(f => f.fieldId === selectedFieldId)?.width }} x
                  {{ fields.find(f => f.fieldId === selectedFieldId)?.length }} m</p>
                <h4>Datum:</h4>
                <p>{{ formatDate(date) }}</p>
                <h4>Cena za hodinu:</h4>
                <p>{{ fields.find(f => f.fieldId === selectedFieldId)?.hourRate || 'N/A' }}</p>
                <h4>Časové bloky:</h4>
                <ul>
                  <li v-for="(selected, timeBlock) in selectedTimes" :key="timeBlock">
                    <span v-if="selected">{{ timeBlock }}</span>
                  </li>
                </ul>
              </div>
              <div v-else class="col-8">
                <p>Vyberte hřiště, datum a časové bloky.</p>
              </div>

            </div>
            <div class="flex pt-4 justify-content-between">
              <Button label="Zpět" severity="secondary" icon="pi pi-arrow-left" @click="prevCallback"/>
              <Button
                  label="Rezervovat"
                  :disabled="!authStore.isAuthenticated"
                  @click="createReservations"
              />
            </div>
            <div v-if="serverResponse" class="text-900 text-primary text-bold flex pt-4 justify-content-center">
              {{ serverResponse }}
            </div>
            <div v-if="errorMessage" class="text-900 text-danger text-bold flex pt-4 justify-content-center">
              Chyba: {{ errorMessage }}
            </div>
          </div>
        </template>
      </StepperPanel>
    </Stepper>
  </div>

</template>

<script>
import Stepper from 'primevue/stepper';
import StepperPanel from "primevue/stepperpanel";
import ToggleButton from "primevue/togglebutton";
import Calendar from "primevue/calendar";
import Button from "primevue/button";
import {useAuthStore} from "@/store/auth";
import FieldService from "@/services/FieldService";
import ReservationService from "@/services/ReservationService";
// import ReservationService from "@/services/ReservationService";
//TODO: blokovat časy i podle data

export default {
  components: {
    Stepper,
    StepperPanel,
    ToggleButton,
    Calendar,
    Button
  },
  props: {
    fields: {
      type: Array,
      required: true
    }
  },
  setup() {
    const authStore = useAuthStore();
    return {authStore};

  },
  data() {
    return {
      selectedFieldId: null,
      date: null,
      selectedTimes: {},
      blockedTimes: [],
      errorMessage: null,
      serverResponse: null
    };
  },
  methods: {
    selectField(fieldId) {
      this.selectedFieldId = fieldId;
      this.$emit('field-selected', fieldId);
      this.fetchReservation(fieldId)// Odesílá událost s vybraným fieldId
    },
    createReservations() {
      if (!this.selectedFieldId || !this.date) {
        alert("Vyberte hřiště a datum.");
        return;
      }

      // Get all selected time blocks as an array and sort them
      const selectedTimeBlocks = Object.keys(this.selectedTimes)
          .filter(timeBlock => this.selectedTimes[timeBlock])
          .sort();

      if (selectedTimeBlocks.length === 0) {
        alert("Vyberte alespoň jeden časový blok.");
        return;
      }

      const reservations = [];
      let startBlock = selectedTimeBlocks[0];
      let lastBlock = startBlock;

      for (let i = 1; i < selectedTimeBlocks.length; i++) {
        const currentBlock = selectedTimeBlocks[i];

        // Check if the current block is consecutive to the last block
        if (this.isConsecutive(lastBlock, currentBlock)) {
          lastBlock = currentBlock; // Extend the current reservation
        } else {
          // If not consecutive, push the current reservation and start a new one
          reservations.push(this.createReservationObject(startBlock, lastBlock));
          startBlock = currentBlock;
          lastBlock = currentBlock;
        }
      }

      // Push the last reservation group
      reservations.push(this.createReservationObject(startBlock, lastBlock));

      // Send the reservations to the server
      reservations.forEach((reservation) => {
        ReservationService.confirmReservation(reservation)
            .then(response => {
              if (response.status === 200) {
                this.serverResponse = "Rezervace byla úspěšně vytvořena.";
                this.errorMessage = null; // Resetovat chybovou zprávu při úspěchu
              }
            })
            .catch(error => {
              if (error.response && error.response.status === 400) {
                this.errorMessage = error.response.data.message || "Něco se pokazilo.";
                this.serverResponse = null; // Resetovat úspěšnou zprávu při chybě
              } else {
                console.error("Error při vytváření rezervace:", error);
              }
            });
      });

      console.log("Reservations:", reservations);
    },
    isConsecutive(lastBlock, currentBlock) {
      // Convert time blocks to hours for comparison
      const [lastStart] = lastBlock.split('-');
      const [currentStart] = currentBlock.split('-');

      const lastHour = parseInt(lastStart.split(':')[0], 10);
      const currentHour = parseInt(currentStart.split(':')[0], 10);

      return currentHour === lastHour + 1; // Check if current block is exactly one hour after the last
    },
    createReservationObject(startBlock, endBlock) {
      const [startTime] = startBlock.split('-');
      const [, endTime] = endBlock.split('-');

      // Získání místního času z vybraného data
      const startDate = new Date(this.date);
      startDate.setHours(0, 0, 0, 0); // Nastavit čas na začátek dne

      const startDateTime = new Date(startDate);
      const endDateTime = new Date(startDate);

      // Nastavení času na začátek a konec rezervace
      const [startHour, startMinute] = startTime.split(':');
      const [endHour, endMinute] = endTime.split(':');

      startDateTime.setHours(startHour, startMinute);
      endDateTime.setHours(endHour, endMinute);

      // Formátování data a času do požadovaného formátu
      return {
        playerId: this.authStore.getUser?.id,
        fieldId: this.selectedFieldId,
        startDateHour: startDateTime.toISOString().slice(0, 19), // ISO string without milliseconds and timezone
        endDateHour: endDateTime.toISOString().slice(0, 19)
      };
    },
    formatDate(date) {
      return date ? date.toLocaleDateString() : ''; // Upravte formát podle potřeby
    },
    fetchReservation(fieldId) {
      FieldService.getReservations(fieldId).then(response => {
        console.log("Full response:", response);
        console.log("Response data:", response.data);

        const reservationsArray = response.data.reservations || [];
        let blockedTimes = [];

        if (Array.isArray(reservationsArray)) {
          reservationsArray.forEach(reservation => {
            const start = new Date(reservation.startDateHour);
            const end = new Date(reservation.endDateHour);
            let current = new Date(start);

            // Generate blocked times from start to end, in hourly increments
            while (current < end) {
              const nextHour = new Date(current);
              nextHour.setHours(current.getHours() + 1);

              if (nextHour > end) {
                nextHour.setTime(end.getTime());
              }

              blockedTimes.push(`${current.toLocaleTimeString('en-GB', {
                hour: '2-digit',
                minute: '2-digit'
              })}-${nextHour.toLocaleTimeString('en-GB', {hour: '2-digit', minute: '2-digit'})}`);
              current = nextHour;
            }
          });

          this.blockedTimes = blockedTimes;
          console.log("Rezervace pro field:", this.blockedTimes);
        } else {
          console.error("Expected 'reservations' to be an array but received:", reservationsArray);
        }
      }).catch(error => {
        console.error("Error fetching reservations:", error);
      });
    },
    isTimeBlocked(timeBlock) {
      return this.blockedTimes.includes(timeBlock);
    }
  }
};
</script>

<style scoped>

/* Stylování karty jako obdélníkové */
.surface-card {
  height: 100px; /* Nastavit výšku podle potřeby */
  display: flex;
  flex-direction: column;
}

.selected-card {
  border: 2px solid #10b981;
  position: relative;
}

.selected-card .pi-check-circle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.reservation-container {
  max-width: 1400px;
  min-height: 410px;
}

.field-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.time-toggle {
  /* Změna barvy pozadí, když je toggle zapnutý */
  --toggle-on-color: #10b981;
  --toggle-off-color: #dcdcdc;
  /* Mění barvu textu, když je toggle zapnutý */
  --toggle-on-text-color: #fff;
  --toggle-off-text-color: #000;

  margin-bottom: 10px;
  min-width: 140px;
}
</style>
