<template>
  <div class="ml-5">
    <div class="font-medium text-3xl text-900 mb-4">Mé rezervace</div>
    <ul class="list-none p-0 m-0">
      <li v-for="reservation in formattedReservations" :key="reservation.startDate" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 mb-3 bg-green-50 border-green-500" style="border-radius: 10px;">
        <div>
          <div>
            <span class="inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle border-1 border-green-200">
              <i class="pi pi-map-marker text-green-600"></i>
            </span>
            <span class="text-green-700 font-bold ml-2">Hřiště {{ reservation.fieldId }}</span>
          </div>
          <p class="text-green-700 mt-2 mb-0">{{ reservation.address }}</p>
          <p class="text-green-700 mt-2 mb-0">Od <span class="font-medium">{{ reservation.startDate }}</span> Do <span class="font-medium">{{ reservation.endDate }}</span></p>
        </div>
        <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
          <span class="bg-green-400 text-green-900 font-bold text-sm py-1 px-2" style="border-radius: 10px;">ZAPLACENO</span>
          <div class="text-right ml-3">
            <span class="text-green-700 font-bold">{{ reservation.totalPrice }}</span>
            <p class="mt-1 mb-0 text-green-700">Kč</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { computed } from 'vue';

export default {
  props: {
    reservations: {
      type: Array,
      default: () => [] // Zajistíme, že reservations je vždy pole
    }
  },
  setup(props) {
    const formatReservation = (reservation) => {
      // Formátování dat
      const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };

      const startDate = new Date(reservation.startDateHour).toLocaleString('cs-CZ', options);
      const endDate = new Date(reservation.endDateHour).toLocaleString('cs-CZ', options);

      return {
        address: `${reservation.address?.street || 'N/A'}, ${reservation.address?.city || 'N/A'}`,
        startDate: startDate || 'N/A',
        endDate: endDate || 'N/A',
        fieldId: reservation.fieldId || 'N/A',
        price: reservation.field?.price || 'N/A'
      };
    };

    const formattedReservations = computed(() => {
      return (props.reservations || []).map(formatReservation);
    });

    return {
      formattedReservations
    };
  }
};
</script>

<style scoped>
/* Styl pro komponentu */
</style>
