<template>
  <div class="shadow-2 p-4 surface-card border-round">
    <img src="../assets/images/pexels-mike-468229-1171084.jpg" alt="thumbnail" class="w-full mb-3">
    <div class="flex justify-content-between mb-3">
      <span class="font-bold text-xl text-primary uppercase">{{ sportCenter.name }}</span>
    </div>
    <div class="mb-3">
        <i class="pi pi-map-marker mr-1"></i>
        <span class="font-medium">{{ sportCenter.address.street }}, {{ sportCenter.address.houseNumber }}
            {{ sportCenter.address.postalCode }} {{ sportCenter.address.city }}</span>
    </div>
    <div class="flex justify-content-between mb-3">
      <span class="font-medium">Počet hřišť: {{sportCenter.fields.length}}</span>
    </div>
    <div>
      <RouterLink
          :to="`/sport-centers/${sportCenter.sportCenterId}`"
          class="w-full"
      >
        <Button label="Zobrazit více" class="w-full" />
      </RouterLink>
    </div>
  </div>
</template>

<script>
import Button from "primevue/button";

export default {
  props: {
    sportCenter: Object,
  },
  components: {
    Button
  },
};
</script>

<style scoped>
</style>