<!-- App.vue -->
<template>
  <div id="app">
    <Navbar />
    <router-view />
    <AppFooter />
  </div>
</template>

<script>
import Navbar from './components/AppNavbar.vue';
import AppFooter from "@/components/AppFooter.vue";

export default {
  name: 'App',
  components: {
    AppFooter,
    Navbar,
  },
};
</script>

<style lang="scss">
  @import "~primeflex/primeflex.css";
</style>

<style scoped>
:deep(.p-selectbutton .p-button.p-highlight::before){
  background: #10b981;
  border-color: #10b981;
}

:deep(.p-selectbutton .p-button.p-highlight > .p-button-label){
  color:#ffffff;
}

:deep(.p-togglebutton.p-highlight .p-button::before){
  background: #10b981;
  border-color: #10b981;
}

:deep(.p-togglebutton.p-highlight .p-button > .p-button-label){
  color:#ffffff;
}

:deep(.p-menubar-end){
  display:flex;
  flex-direction:row;
  gap:20px
}

:deep(.p-menubar){
  border-radius:0;
}
</style>

<style>

body{
  margin:0;
}

</style>