<template>
    <h2>Add New Field</h2>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="length">Length</label>
        <InputNumber v-model="newField.length" id="length" />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="width">Width</label>
        <InputNumber v-model="newField.width" id="width" />
      </div>

      <div class="p-field p-col-12">
        <Button label="Add Field" @click="addField" />
      </div>
    </div>
</template>

<script setup>
  import FieldService from "@/services/FieldService";
  import { ref } from 'vue';
  import Button from "primevue/button";
  import InputNumber from "primevue/inputnumber";

  const newField = ref({
    width: null,
    length: null
  })

  const addField = async() => {
    try{
      const response = await FieldService.addField(newField.value);
      console.log("Field added: ", response.data);
    } catch (error) {
      console.error("Error while adding field: ", error);
    }
  }
</script>

<style scoped>
  .p-field{
    margin-bottom: 1rem;
  }
</style>