<template>
  <div class="p-m-4">
    <h1>Field Detail</h1>
    <div v-if="field">
      <h2>{{ field.name }}</h2>
      <p>Location: {{ field.location }}</p>
      <p>Owner: {{ field.owner }}</p>
      <p>Capacity: {{ field.capacity }}</p>
      <button v-if="isOwner" @click="editField(field.id)">Edit Field</button>
    </div>
    <div v-else>
      <p>Field not found.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FieldDetail',
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      field: null,
      isOwner: true,
    };
  },
  created() {
    // Simulace načítání detailů hřiště z API na základě ID
    this.fetchField(this.id);
  },
  methods: {
    fetchField(id) {
      // Bude řešeno skrze axios
      // Příklad:
      // axios.get(`/api/fields/${id}`)
      //   .then(response => {
      //     this.field = response.data;
      //   })
      //   .catch(error => {
      //     console.error('Chyba při načítání detailů hřiště', error);
      //   });

      // Fiktivní data pro ukázku
      const fields = [
        { id: 1, name: 'Field A', location: 'City A', owner: 'John Doe', capacity: 100 },
        { id: 2, name: 'Field B', location: 'City B', owner: 'Jane Smith', capacity: 80 },
      ];

      this.field = fields.find(field => field.id === id);
    },
    editField(id) {
      // Funkce pro úpravu hřiště
      console.log(`Edit field with ID: ${id}`);
    },
  },
};
</script>

<style scoped>
</style>