<template>
  <div class="grid grid-nogutter surface-section text-800 ">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <span class="block text-6xl font-bold mb-1">PITCHER, platforma pro rezervaci</span>
        <div class="text-6xl text-primary font-bold mb-3">fotbalových hřišť</div>
        <p class="mt-0 mb-4 text-700 line-height-3">PITCHER je platforma, která umožňuje rychlé a snadné rezervování fotbalových hřišť online.</p>

        <router-link to="/sport-centers">
          <Button label="Sportovní centra" type="button" class="mr-3 p-button-raised"/>
        </router-link>
        <router-link to="/sign-up">
          <Button label="Registrace" type="button" class="p-button-outlined"/>
        </router-link>


      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden hero-banner">
      <img src="../assets/images/pexels-mike-468229-1171084.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" />
    </div>
  </div>


</template>

<script>
import Button from "primevue/button";

export default {
  components:{
    Button
  },
  name: 'HomePage',
  data() {
    return {
      isOwner: true,
    };
  },
};
</script>

<style scoped>
.hero-banner{
  max-height:70vh;
}
</style>