<template>
  <div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
        <router-link to="/" class="no-underline">
          <a class="text-500 no-underline line-height-3 cursor-pointer">Domů</a>
        </router-link>
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <span class="text-900 line-height-3">Profil</span>
      </li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div>
        <div class="font-medium text-3xl text-900">Profil</div>
      </div>
    </div>

    <Divider/>
    <div class="mt-5 grid">
      <div class="surface-section col-1 flex flex-column mr-4" v-if="owner">
        <Avatar icon="pi pi-user" class="mr-2" size="xlarge" shape="circle"/>
        <div class="text-900 font-medium mt-4">{{ owner.username }}</div>
        <div class="text-700 font-medium mt-1">{{ owner.email }}</div>
      </div>
      <div class="surface-section col-5" v-if="owner">
        <div class="flex flex-row justify-content-between mb-4">
          <div class="font-medium text-3xl text-900 ">Informace o uživateli</div>
          <Button label="Uložit" @click="updateProfile"/>
        </div>

        <!-- Zpráva o úspěchu nebo chybě -->
        <div v-if="profileMessage" :class="profileMessageClass" class="mb-4">
          {{ profileMessage }}
        </div>

        <ul class="list-none p-0 m-0">
          <!-- First Name -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Jméno</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editFirstName"
                  placeholder="Nastavit jméno"
                  class="borderless-input"
              />
            </div>
          </li>

          <!-- Last Name -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Příjmení</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editLastName"
                  placeholder="Nastavit příjmení"
                  class="borderless-input"
              />
            </div>
          </li>

          <!-- Phone Number -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Telefonní číslo</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editPhoneNumber"
                  placeholder="Nastavit telefon"
                  class="borderless-input"
              />
            </div>
          </li>

          <!-- Mail Address -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Email</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editMailAddress"
                  placeholder="Nastavit email"
                  class="borderless-input"
              />
            </div>
          </li>

          <!-- Bank Account -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Bankovní účet</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editBankAccount"
                  placeholder="Nastavit účet"
                  class="borderless-input"
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="surface-section col-5">
        <!-- Formulář pro založení sportovního centra a hřiště -->
        <div class="flex flex-column">
          <div class="font-medium text-3xl text-900 mb-4">Založit sportovní centrum a hřiště</div>

          <!-- Zpráva o úspěchu nebo chybě pro sportovní centrum -->
          <div v-if="centerMessage" :class="centerMessageClass" class="mb-4">
            {{ centerMessage }}
          </div>

          <!-- Název sportovního centra -->
          <div class="field">
            <label for="centerName" class="block text-500 font-medium mb-2">Název centra</label>
            <input v-model="centerName" id="centerName" type="text" placeholder="Nastavit název centra"
                   class="borderless-input"/>
          </div>

          <!-- Adresa centra -->
          <div class="field">
            <label class="block text-500 font-medium mb-2">Adresa centra</label>
            <div class="flex gap-2">
              <input v-model="centerStreet" type="text" placeholder="Ulice" class="borderless-input w-full"/>
              <input v-model="houseNumber" type="text" placeholder="Číslo domu" class="borderless-input w-3"/>
            </div>
            <div class="flex gap-2 mt-2">
              <input v-model="centerCity" type="text" placeholder="Město" class="borderless-input w-full"/>
              <input v-model="zipCode" type="text" placeholder="PSČ" class="borderless-input w-3"/>
            </div>
          </div>

          <!-- Hřiště 1: Rozměry a hodinová sazba -->
          <div class="field">
            <label class="block text-500 font-medium mb-2">Rozměry hřiště 1</label>
            <div class="flex gap-2">
              <input v-model="fields[0].length" type="number" placeholder="Délka (m)" class="borderless-input w-full"/>
              <input v-model="fields[0].width" type="number" placeholder="Šířka (m)" class="borderless-input w-full"/>
            </div>
            <div class="mt-2">
              <label class="block text-500 font-medium mb-2">Hodinová sazba</label>
              <input v-model="fields[0].hourRate" type="number" placeholder="Hodinová sazba (Kč)"
                     class="borderless-input w-full"/>
            </div>
          </div>

          <!-- Další hřiště -->
          <div v-for="(field, index) in fields.slice(1)" :key="index" class="field">
            <label class="block text-500 font-medium mb-2">Rozměry hřiště {{ index + 2 }}</label>
            <div class="flex gap-2">
              <input v-model="field.length" type="number" placeholder="Délka (m)" class="borderless-input w-full"/>
              <input v-model="field.width" type="number" placeholder="Šířka (m)" class="borderless-input w-full"/>
            </div>
            <div class="mt-2">
              <label class="block text-500 font-medium mb-2">Hodinová sazba</label>
              <input v-model="field.hourRate" type="number" placeholder="Hodinová sazba (Kč)"
                     class="borderless-input w-full"/>
            </div>
          </div>


          <!-- Přidat další hřiště -->
          <Button label="Přidat další hřiště" icon="pi pi-plus" class="mt-4" @click="addField"/>

          <!-- Tlačítko pro odeslání -->
          <Button label="Založit centrum" class="mt-4" @click="createCenter"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserService from "@/services/UserService";
import Button from "primevue/button";
import Avatar from "primevue/avatar";
import SportCenterService from "@/services/SportCenterService";

export default {
  components: {
    Button,
    Avatar
  },
  data() {
    return {
      owner: null,
      editFirstName: '',
      editLastName: '',
      editPhoneNumber: '',
      editMailAddress: '',
      editBankAccount: '',
      centerName: "",
      centerStreet: "",
      houseNumber: "",
      centerCity: "",
      zipCode: "",
      fields: [
        { length: "", width: "", hourRate: "" }  // Přidání hourRate k prvním hřišti
      ],
      profileMessage: '',
      profileMessageClass: '',
      centerMessage: '',
      centerMessageClass: ''
    };
  },
  created() {
    const userId = this.$route.params.id;
    this.fetchUserById(userId);
  },
  methods: {
    addField() {
      this.fields.push({length: "", width: "", hourRate: ""});
    },
    async createCenter() {
      const sportCenterParams = {
        name: this.centerName.toString(),
        ownerId: this.owner.userId.toString(), // Použití userId pro ownerId
        street: this.centerStreet.toString(),
        city: this.centerCity.toString(),
        houseNumber: this.houseNumber.toString(),
        postalCode: this.zipCode.toString()
      };

      const sportCenterFields = this.fields.map(field => ({
        id: 1,  // ID hřiště, které je 1 pro všechny
        length: field.length, // Převod na string
        width: field.width,   // Převod na string
        hourRate: field.hourRate // Převod na string
      }));

      const newCenter = {
        sportCenterParams,
        sportCenterFields
      };

      try {
        await SportCenterService.addSportCenter(newCenter);
        this.centerMessage = 'Sportovní centrum bylo úspěšně založeno.';
        this.centerMessageClass = 'text-green-500'; // Úspěšná zpráva
      } catch (error) {
        console.error("Error při zakládání sportovního centra:", error);
        this.centerMessage = 'Chyba při zakládání sportovního centra.';
        this.centerMessageClass = 'text-red-500'; // Chybová zpráva
      }
    },
    async fetchUserById(userId) {
      try {
        const response = await UserService.getUserById(userId);
        this.owner = response.data;

        // Initialize edit fields with owner data
        this.editFirstName = this.owner.firstName || '';
        this.editLastName = this.owner.lastName || '';
        this.editPhoneNumber = this.owner.phoneNumber || '';
        this.editMailAddress = this.owner.mailAddress || '';
        this.editBankAccount = this.owner.bankAccount || '';

        console.log("Owner profile response:", response.data);
      } catch (error) {
        console.error("Error při fetchování uživatele:", error);
      }
    },
    async updateProfile() {
      // Create an object for the updated fields
      const updatedProfile = {
        username: this.owner.username // Ensure username is included
      };

      // Add only the fields that have been modified (not empty)
      let hasChanges = false;

      if (this.editFirstName && this.editFirstName !== this.owner.firstName) {
        updatedProfile.firstName = this.editFirstName;
        hasChanges = true;
      }
      if (this.editLastName && this.editLastName !== this.owner.lastName) {
        updatedProfile.lastName = this.editLastName;
        hasChanges = true;
      }
      if (this.editPhoneNumber && this.editPhoneNumber !== this.owner.phoneNumber) {
        updatedProfile.phoneNumber = this.editPhoneNumber;
        hasChanges = true;
      }
      if (this.editMailAddress && this.editMailAddress !== this.owner.mailAddress) {
        updatedProfile.mailAddress = this.editMailAddress;
        hasChanges = true;
      }
      if (this.editBankAccount && this.editBankAccount !== this.owner.bankAccount) {
        updatedProfile.bankAccount = this.editBankAccount;
        hasChanges = true;
      }

      // Check if there are any changes to send
      if (!hasChanges && Object.keys(updatedProfile).length === 1) {
        this.profileMessage = 'Žádné změny k uložení.';
        this.profileMessageClass = 'text-info'; // Informativní zpráva
        return;
      }

      // Log the updated profile JSON to the console
      console.log("Updated profile JSON:", JSON.stringify(updatedProfile, null, 2));

      try {
        await UserService.updatePlayerProfile(this.owner.userId, updatedProfile);
        this.profileMessage = 'Profil byl úspěšně aktualizován.';
        this.profileMessageClass = 'text-green-500'; // Úspěšná zpráva

        // Update the owner data in local state
        if (updatedProfile.firstName) this.owner.firstName = this.editFirstName;
        if (updatedProfile.lastName) this.owner.lastName = this.editLastName;
        if (updatedProfile.phoneNumber) this.owner.phoneNumber = this.editPhoneNumber;
        if (updatedProfile.mailAddress) this.owner.mailAddress = this.editMailAddress;
        if (updatedProfile.bankAccount) this.owner.bankAccount = this.editBankAccount;
      } catch (error) {
        console.error("Error při aktualizaci profilu:", error);
        this.profileMessage = 'Chyba při aktualizaci profilu.';
        this.profileMessageClass = 'text-red-500'; // Chybová zpráva
      }
    }
  }
};
</script>

<style scoped>
.field {
  margin-bottom: 1em;
}

.borderless-input {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
  font-size: 1em;
}

.borderless-input:focus {
  outline: none;
}

.borderless-input::placeholder {
  color: #999;
}

.text-green-500 {
  color: #38a169;
}

.text-red-500 {
  color: #e53e3e;
}

.text-info {
  color: #3182ce;
}
</style>
