<template>
  <div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
        <router-link to="/" class="no-underline">
          <a class="text-500 no-underline line-height-3 cursor-pointer">Domů</a>
        </router-link>
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <span class="text-900 line-height-3">Profil</span>
      </li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div>
        <div class="font-medium text-3xl text-900">Profil</div>
      </div>
    </div>

    <Divider />
    <div class="mt-5 grid">
      <div class="surface-section col-1 flex flex-column mr-4" v-if="player && player.calendar">
        <Avatar icon="pi pi-user" class="mr-2" size="xlarge" shape="circle" />
        <div class="text-900 font-medium mt-4">{{ player.username }}</div>
        <div class="text-700 font-medium mt-1">{{ player.email }}</div>
      </div>
      <div class="surface-section col-5" v-if="player">
        <div class="flex flex-row justify-content-between mb-4">
          <div class="font-medium text-3xl text-900 ">Informace o uživateli</div>
          <Button label="Uložit" @click="updateProfile" />
        </div>

        <!-- Zpráva o úspěchu nebo chybě -->
        <div v-if="profileMessage" :class="profileMessageClass" class="mb-4">
          {{ profileMessage }}
        </div>

        <ul class="list-none p-0 m-0">
          <!-- First Name -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Jméno</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editFirstName"
                  placeholder="Nastavit jméno"
                  class="borderless-input"
              />
            </div>
          </li>

          <!-- Last Name -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Příjmení</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editLastName"
                  placeholder="Nastavit příjmení"
                  class="borderless-input"
              />
            </div>
          </li>

          <!-- Phone Number -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Telefonní číslo</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editPhoneNumber"
                  placeholder="Nastavit telefon"
                  class="borderless-input"
              />
            </div>
          </li>

          <!-- Mail Address -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Email</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editMailAddress"
                  placeholder="Nastavit email"
                  class="borderless-input"
              />
            </div>
          </li>

          <!-- Bank Account -->
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Bankovní účet</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 ml-8">
              <input
                  v-model="editBankAccount"
                  placeholder="Nastavit účet"
                  class="borderless-input"
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="surface-section col-5" v-if="player && player.calendar">
        <PlayerReservationsList :reservations="player.calendar.reservations"/>
      </div>
    </div>
  </div>
</template>

<script>
import UserService from "@/services/UserService";
import Button from "primevue/button";
import Avatar from "primevue/avatar";
import PlayerReservationsList from "@/components/PlayerReservationsList.vue";

export default {
  components: {
    PlayerReservationsList,
    Button,
    Avatar
  },
  data() {
    return {
      player: null,
      editFirstName: '',
      editLastName: '',
      editPhoneNumber: '',
      editMailAddress: '',
      editBankAccount: '',
      profileMessage: '',
      profileMessageClass: ''
    };
  },
  created() {
    const userId = this.$route.params.id;
    this.fetchUserById(userId);
  },
  methods: {
    async fetchUserById(userId) {
      try {
        const response = await UserService.getUserById(userId);
        this.player = response.data;

        // Ensure player.calendar.reservations is an array
        this.player.calendar = this.player.calendar || {};
        this.player.calendar.reservations = this.player.calendar.reservations || [];

        // Initialize edit fields with player data
        this.editFirstName = this.player.firstName || '';
        this.editLastName = this.player.lastName || '';
        this.editPhoneNumber = this.player.phoneNumber || '';
        this.editMailAddress = this.player.mailAddress || '';
        this.editBankAccount = this.player.bankAccount || '';

        console.log("Player profile response:", response.data);
      } catch (error) {
        console.error("Error při fetchování uživatele:", error);
      }
    },
    async updateProfile() {
      // Create an object for the updated fields
      const updatedProfile = {
        username: this.player.username // Ensure username is included
      };

      // Add only the fields that have been modified (not empty)
      let hasChanges = false;

      if (this.editFirstName && this.editFirstName !== this.player.firstName) {
        updatedProfile.firstName = this.editFirstName;
        hasChanges = true;
      }
      if (this.editLastName && this.editLastName !== this.player.lastName) {
        updatedProfile.lastName = this.editLastName;
        hasChanges = true;
      }
      if (this.editPhoneNumber && this.editPhoneNumber !== this.player.phoneNumber) {
        updatedProfile.phoneNumber = this.editPhoneNumber;
        hasChanges = true;
      }
      if (this.editMailAddress && this.editMailAddress !== this.player.mailAddress) {
        updatedProfile.mailAddress = this.editMailAddress;
        hasChanges = true;
      }
      if (this.editBankAccount && this.editBankAccount !== this.player.bankAccount) {
        updatedProfile.bankAccount = this.editBankAccount;
        hasChanges = true;
      }

      // Check if there are any changes to send
      if (!hasChanges && Object.keys(updatedProfile).length === 1) {
        this.profileMessage = 'Žádné změny k uložení.';
        this.profileMessageClass = 'text-info'; // Informativní zpráva
        return;
      }

      // Log the updated profile JSON to the console
      console.log("Updated profile JSON:", JSON.stringify(updatedProfile, null, 2));

      try {
        await UserService.updatePlayerProfile(this.player.userId, updatedProfile);
        this.profileMessage = 'Profil byl úspěšně aktualizován.';
        this.profileMessageClass = 'text-green-500'; // Úspěšná zpráva

        // Update the player data in local state
        if (updatedProfile.firstName) this.player.firstName = this.editFirstName;
        if (updatedProfile.lastName) this.player.lastName = this.editLastName;
        if (updatedProfile.phoneNumber) this.player.phoneNumber = this.editPhoneNumber;
        if (updatedProfile.mailAddress) this.player.mailAddress = this.editMailAddress;
        if (updatedProfile.bankAccount) this.player.bankAccount = this.editBankAccount;
      } catch (error) {
        console.error("Error při aktualizaci profilu:", error);
        this.profileMessage = 'Chyba při aktualizaci profilu.';
        this.profileMessageClass = 'text-red-500'; // Chybová zpráva
      }
    }
  }
};
</script>

<style scoped>
.field {
  margin-bottom: 1em;
}

.borderless-input {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
  font-size: 1em;
}

.borderless-input:focus {
  outline: none;
}

.borderless-input::placeholder {
  color: #999;
}

.text-info {
  color: #17a2b8;
}

.text-green-500 {
  color: #28a745;
}

.text-red-500 {
  color: #dc3545;
}
</style>
