<template>
  <div class="login-wrapper">
    <form @submit.prevent="validateForm">
      <div class="p-card form-group flex justify-center">
        <h1>Registrace</h1>
        <!-- Google Button -->
        <button class="gsi-material-button" @click.prevent="redirectToGoogle">
          <div class="gsi-material-button-state"></div>
          <div class="gsi-material-button-content-wrapper">
            <div class="gsi-material-button-icon">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                <path fill="none" d="M0 0h48v48H0z"></path>
              </svg>
            </div>
            <span class="gsi-material-button-contents">Registrovat přes Google</span>
            <span style="display: none;">Registrovat přes Google</span>
          </div>
        </button>

        <!-- Registration Form -->
        <SelectButton v-model="role" :options="options" option-value="role" option-label="name" aria-labelledby="basic"></SelectButton>
        <div v-if="errors.role" class="error">{{ errors.role }}</div>
        <IconField>
          <InputIcon class="pi pi-user"></InputIcon>
          <InputText v-model="username" placeholder="Uživatelské jméno"></InputText>
        </IconField>
        <div v-if="errors.username" class="error">{{ errors.username }}</div>
        <IconField>
          <InputIcon class="pi pi-envelope"></InputIcon>
          <InputText v-model="email" placeholder="E-mail"></InputText>
        </IconField>
        <div v-if="errors.email" class="error">{{ errors.email }}</div>
        <Password v-model="password" toggle-mask placeholder="Heslo" weak-label="Slabé heslo" medium-label="Středně silné heslo" strong-label="Silné heslo"></Password>
        <div v-if="errors.password" class="error">{{ errors.password }}</div>
        <Password v-model="confirmPassword" toggle-mask weak-label="Slabé heslo" medium-label="Středně silné heslo" strong-label="Silné heslo" placeholder="Heslo znovu"></Password>
        <div v-if="errors.confirmPassword" class="error">{{ errors.confirmPassword }}</div>
        <Button label="Odeslat" @click="validateForm"></Button>

        <!-- Success Message -->
        <Message icon="pi pi-check" v-if="showSuccessMessage" severity="success">Registrace proběhla úspěšně</Message>
      </div>
    </form>
  </div>
</template>

<script>
import Password from "primevue/password";
import IconField from "primevue/iconfield";
import InputIcon from "primevue/inputicon";
import InputText from "primevue/inputtext";
import SelectButton from "primevue/selectbutton";
import Button from "primevue/button";
import UserService from "@/services/UserService";

export default {
  components: {
    Password,
    IconField,
    InputIcon,
    InputText,
    SelectButton,
    Button
  },
  data() {
    return {
      username: "",
      email: "",
      password: "",
      confirmPassword: "",
      role: "player",
      options: [
        {name: "Hráč", role: "player"},
        {name: "Majitel", role: "owner"}
      ],
      showSuccessMessage: false,
      errors: {
        username: "",
        email: "",
        password: "",
        confirmPassword: "",
        role: ""
      }// State for showing the success message
    }
  },
  methods: {
    redirectToGoogle() {
      window.location.href = "http://localhost:8081/oauth2/authorization/google";
    },
    validateUsername() {
      const USERNAME_REGEX = /^[A-Za-z0-9]{5,32}$/;
      if (!USERNAME_REGEX.test(this.username)) {
        this.errors.username = "Uživatelské jméno musí mít 5 až 32 znaků a může obsahovat pouze písmena a čísla.";
      } else {
        this.errors.username = ""; // Remove error if valid
      }
    },
    validateEmail() {
      const EMAIL_REGEX = /^[\w._%+-]+@[\w.-]+\.[a-zA-Z]{2,}$/;
      if (!EMAIL_REGEX.test(this.email)) {
        this.errors.email = "Neplatný e-mail.";
      } else {
        this.errors.email = ""; // Remove error if valid
      }
    },
    validatePassword() {
      const PASSWORD_REGEX = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,32}$/;
      if (!PASSWORD_REGEX.test(this.password)) {
        this.errors.password = "Heslo musí být v délce 8 až 32 znaků a musí obsahovat alespoň jedno velké písmeno, jedno malé písmeno a jednu číslici.";
      } else {
        this.errors.password = ""; // Remove error if valid
      }
    },
    validateRepeatPassword() {
      if (this.confirmPassword !== this.password) {
        this.errors.confirmPassword = "Hesla se neshodují.";
      } else {
        this.errors.confirmPassword = ""; // Remove error if valid
      }
    },
    validateRole() {
      if (!this.role) {
        this.errors.role = "Musíte zvolit roli.";
      } else {
        this.errors.role = ""; // Remove error if valid
      }
    },
    validateForm() {
      this.validateUsername();
      this.validateEmail();
      this.validatePassword();
      this.validateRepeatPassword();
      this.validateRole();

      if (Object.values(this.errors).every(error => error === "")) {
        this.registerUser();
      }
    },
    async registerUser() {
      const user = {
        username: this.username,
        password: this.password,
        confirmPassword: this.confirmPassword,
        email: this.email
      };

      try {
        if (this.role === "player") {
          await UserService.registerPlayer(user);
          console.log("Player registered successfully!");
        } else if (this.role === "owner") {
          await UserService.registerOwner(user);
          console.log("Owner registered successfully!");
        }

        // Show success message
        this.showSuccessMessage = true;

        // Redirect after a short delay
        setTimeout(() => {
          this.$router.push({ name: 'SignIn' }); // Adjust route name as needed
        }, 3000); // Delay of 3 seconds

      } catch (error) {
        console.error("Error registering user:", error);
      }
    },
    watch: {
      username() {
        this.validateUsername();
      },
      email() {
        this.validateEmail();
      },
      password() {
        this.validatePassword();
        this.validateRepeatPassword(); // Also validate repeat_password when password changes
      },
      confirmPassword() {
        this.validateRepeatPassword();
      },
      role() {
        this.validateRole();
      }
    }
  }
}
</script>

<style scoped>
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  background-image: none;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #001d35;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #001d35;
  opacity: 8%;
}

.error {
  color: #e04646;
  font-size: 0.85em;
  margin-top: -10px;
  margin-bottom: 10px;
}


</style>