<template>
  <div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
        <router-link to="/" class="no-underline">
          <a class="text-500 no-underline line-height-3 cursor-pointer">Domů</a>
        </router-link>
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <span class="text-900 line-height-3">Sportovní centra</span>
      </li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div>
        <div class="font-medium text-3xl text-900">Sportovní centra</div>
      </div>
    </div>
  </div>
    <Divider/>
  <div class="sport-center-list-wrapper">
    <div class="surface-section px-4 md:px-6 lg:px-8">
      <div class="grid grid-nogutter mt-5">
        <div
            class="filter-container col-12">
          <div class="flex flex-row justify-content-around gap-4">
            <IconField>
              <InputIcon class="pi pi-search"/>
              <InputText v-model="filters.name" placeholder="Hledat podle názvu"/>
            </IconField>
            <IconField>
              <InputIcon class="pi pi-sitemap"/>
              <InputText v-model.number="filters.fieldsCount" placeholder="Počet hřišť"/>
            </IconField>
            <IconField>
              <InputIcon class="pi pi-map-marker"/>
              <InputText v-model.number="filters.distance" placeholder="Vzdálenost (km)"/>
            </IconField>

            <!-- Tlačítko pro smazání všech filtrů -->
            <Button label="Smazat filtry" icon="pi pi-times" class="p-button-secondary" @click="resetFilters"/>

            <!-- Tlačítko pro aplikaci filtrů -->
            <Button icon="pi pi-filter" label="Aplikovat filtry" @click="applyFilters"/>
          </div>
        </div>

        <Divider/>
      </div>
    </div>
    <div class="sport-center-list">
      <SportCenterCard v-for="sportCenter in filteredSportCenters" :key="sportCenter.sportCenterId"
                       :sportCenter="sportCenter"/>
    </div>
  </div>
</template>

<script>
import SportCenterService from "@/services/SportCenterService";
import SportCenterCard from "@/components/SportCenterCard.vue";
import Divider from "primevue/divider";
import Button from "primevue/button";
import IconField from "primevue/iconfield";
import InputText from "primevue/inputtext";
import InputIcon from "primevue/inputicon";
//TODO: Dynamicky načítat nejnižší cenu pro centrum
export default {
  components: {
    SportCenterCard,
    Divider,
    Button,
    IconField,
    InputText,
    InputIcon
  },
  data() {
    return {
      sportCenters: [],
      filters: {
        name: '',
        fieldsCount: null,
        distance: null,
      },
      filteredSportCenters: [], // Přidáme filteredSportCenters do data
    };
  },
  methods: {
    fetchSportCenters() {
      SportCenterService.getAllSportCenters()
          .then(response => {
            this.sportCenters = response.data;
            // Inicializujeme filteredSportCenters po načtení sportovních center
            this.filteredSportCenters = [...this.sportCenters];
          })
          .catch(error => {
            console.error("Error při fetchování dat: ", error);
          });
    },
    applyFilters() {
      this.filteredSportCenters = this.sportCenters.filter(sportCenter => {
        const fieldsCount = this.filters.fieldsCount;
        const meetsFieldsCount = fieldsCount === null || sportCenter.fields.length === fieldsCount;

        const distance = this.filters.distance;
        const meetsDistance = distance === null || this.calculateDistance(sportCenter.address) <= distance;


        const name = this.filters.name.toLowerCase();
        const meetsName = !name || sportCenter.name.toLowerCase().includes(name);

        return meetsName && meetsFieldsCount && meetsDistance;
      });
    },
    resetFilters() {
      this.filters = {
        name: '',
        fieldsCount: null,
        distance: null,
      };
      // Obnovíme filteredSportCenters na základě všech sportovních center
      this.filteredSportCenters = [...this.sportCenters];
    },
    calculateDistance() {
      // Tady bys měl implementovat reálný výpočet vzdálenosti na základě adresy uživatele.
      // Můžeš využít např. Google Maps API nebo jinou službu.
      // Zatím vrátíme dummy hodnotu.
      return Math.random() * 50; // Simulace vzdálenosti
    },
  },
  created() {
    this.fetchSportCenters();
  }
};
</script>


<style scoped>

.sport-center-list-wrapper {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px
}

.sport-center-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
</style>