<template>
  <div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3" v-if="sportCenter">
      <li>
        <router-link to="/" class="no-underline">
          <a class="text-500 no-underline line-height-3 cursor-pointer">Domů</a>
        </router-link>
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <router-link to="/sport-centers" class="no-underline">
          <a class="text-500 no-underline line-height-3 cursor-pointer">Sportovní centra</a>
        </router-link>
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <span class="text-900 line-height-3">{{ sportCenter.name }}</span>
      </li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row" v-if="sportCenter">
      <div>
        <div class="font-medium text-3xl text-900">{{ sportCenter.name }}</div>
      </div>
    </div>
  </div>
  <Divider/>
  <div class="surface-section px-4 md:px-6 lg:px-8 mt-6" v-if="sportCenter">
    <div class="overflow-hidden mb-5 background-image border-round" style="height: 300px"></div>
    <div class="text-900 font-bold text-4xl">{{ sportCenter.name }}</div>
    <div class="flex flex-row align-items-center mb-5">
      <i class="pi pi-map-marker mr-3"></i>
      <div class="flex flex-column">
        <p>{{ sportCenter.address.street }}, {{ sportCenter.address.houseNumber }}
          {{ sportCenter.address.postalCode }} {{ sportCenter.address.city }}</p>
      </div>
    </div>
    <h3>Rezervace</h3>
    <div class="flex align-items-center justify-content-center w-full min-h-full">
      <FieldReservation class="w-full" :fields="sportCenter.fields"></FieldReservation>
    </div>
  </div>

  <div v-else>
    <p>Loading...</p>
  </div>

</template>

<script>

import FieldReservation from "@/components/FieldReservation.vue";
import SportCenterService from "@/services/SportCenterService";
import Divider from "primevue/divider";

export default {
  components: {
    Divider,
    FieldReservation
  },
  data() {
    return {
      sportCenter: null
    };
  },
  created() {
    const sportCenterId = this.$route.params.id;
    this.fetchSportCenterById(sportCenterId);
  },
  methods: {
    fetchSportCenterById(sportCenterId) {
      SportCenterService.getSportCenterById(sportCenterId)
          .then(response => {
            this.sportCenter = response.data;
            console.log("Fetchnuté sportovní centrum:", response.data)
          })
          .catch(error => {
            console.error("Error při fetchování sportovního centra:", error)
          })
    }
  }
}

</script>

<style scoped>
.background-image {
  background-image: url('@/assets/images/pexels-mike-468229-1171084.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}

</style>